@import url("../../global.css");

/* Modal */

.home {
  margin-top: 77px;
  background-image: url("../../../assets/images/home/navbar/home/bg.png");
  background-size: cover;
}
.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.home-left {
  display: flex;
}
.home-left img {
  max-width: 100%;
}
.home-right span {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: #414141;
}

main {
  padding-top: 80px;
  background: #fbf8ec;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* Stock products */

.stock {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.stock-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stock-header span {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #414141;
}

.stock-all-products {
  background: transparent;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0;
}
.stock-all-products span {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #606060;
}

.stock-products-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stock-product {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 8px;
  border-radius: 8px;
  transition: all 0.5s;
}

.stock-product-body {
  position: relative;
}

.stock-product-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Stock Responsive */

/* New goods Responsive */

@media (max-width: 1240px) {
  .stock-products-row {
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
  }
}

/* new goods */

.new-goods {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.new-goods-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-goods-header span {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #414141;
}

.new-goods-all-products {
  background: transparent;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0;
}
.new-goods-all-products span {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #606060;
}

.new-goods-products-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new-goods-product {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 8px;
  border-radius: 8px;
  transition: all 0.5s;
}

.new-goods-product-body {
  position: relative;
}

.new-goods-product-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* New goods Responsive */

@media (max-width: 1240px) {
  .new-goods-products-row {
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
  }
}

/* Recommends */

.special-recommends {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.special-recommends-header span {
  color: #414141;
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.recommend-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recommend-cards img {
  max-width: 100%;
  width: 584px;
  transition: all 0.5s;
}

.recommend-cards img:hover {
  transform: translateY(-5px);
}

/* Recommend cards Responsive */

@media (max-width: 1240px) {
  .recommend-cards {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .recommend-cards {
    justify-content: center;
  }
}

/* our-market */

.our-market {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.our-market h1 {
  color: #414141;
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.market-station-names {
  display: flex;
  align-items: center;
  gap: 24px;
}

.first-station,
.second-station,
.third-station,
.fourth-station {
  padding: 8px;
  border-radius: 4px;
  background: #f3f2f1;
  transition: all 0.5s;
  > span {
    color: #606060;
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}

.first-station:hover,
.second-station:hover,
.third-station:hover,
.fourth-station:hover {
  background: #70c05b;
  > span {
    color: #fff;
  }
}

/* Articles */

.articles {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}

.articles-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articles-header span {
  font-family: "Rubik";
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  color: #414141;
}

.all-articles {
  background: transparent;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0;
}
.all-articles span {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #606060;
}

.articles-cards-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articles-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 8px;
  border-radius: 8px;
  transition: all 0.5s;
}

.articles-card-body {
  position: relative;
}

.articles-card-footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.article-desc {
  max-width: 356px;
  color: #414141;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.article-date span {
  color: #8f8f8f;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.more-about-article {
  background: transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #70c05b;
  color: #70c05b;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transition: all 0.5s;
}

.more-about-article:hover {
  color: #fff;
  background: #70c05b;
}

/* Articles Responsive */

@media (max-width: 1240px) {
  .articles-cards-row {
    flex-wrap: wrap;
    row-gap: 20px;
  }
}

@media (max-width: 1240px) {
  .articles-cards-row {
    justify-content: center;
  }
}

/* All Products Hover */

.stock-product:hover,
.new-goods-product:hover,
.articles-card:hover {
  border-radius: 4px;
  background: #fff;
  box-shadow: 4px 8px 16px 0px rgba(255, 102, 51, 0.2);
}
